Repository Snowfork/snowbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: Docs, Component: Relayer, Component: Web, Component: Smoke Tests, Component: Control Tool, Component: Ethereum

fix tests and add all tests to run-tests (#1349)
  smoketest/run-tests.sh
  smoketest/tests/upgrade_gateway.rs
Labels: Component: Smoke Tests

Fix wrongly register PNA as ENA (#1351)
  contracts/src/Assets.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

initial support
  contracts/scripts/DeployLocal.sol
  contracts/scripts/FundGateway.sol
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/src/Types.sol
  contracts/test/Gateway.t.sol
  web/packages/test/scripts/fund-gateway.sh
  web/packages/test/scripts/set-env.sh
Labels: Component: Web, Component: Ethereum

add error
  contracts/src/Assets.sol
Labels: Component: Ethereum

ws
  contracts/src/Assets.sol
Labels: Component: Ethereum

test legacy and new unlock messages
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

fixed tests
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

fix spelling
  contracts/src/Gateway.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

test registration is blocked
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

fix inbound messages
  contracts/src/Assets.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

allow gateway proxy to receive funds
  contracts/src/Assets.sol
  contracts/src/GatewayProxy.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

final tests and fixes
  contracts/src/Assets.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

warnings
  contracts/test/Bitfield.t.sol
  contracts/test/mocks/BitfieldWrapper.sol
Labels: Component: Ethereum

PR feedback
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/src/Types.sol
Labels: Component: Ethereum

migrate ether on upgrade
  contracts/src/Agent.sol
  contracts/src/AgentExecutor.sol
  contracts/src/Gateway.sol
  contracts/src/GatewayProxy.sol
  contracts/src/interfaces/IGateway.sol
  contracts/src/storage/CoreStorage.sol
  contracts/src/upgrades/Gateway202410.sol
  contracts/test/ForkUpgrade202410.t.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

fix scripts
  contracts/scripts/DeployLocal.sol
  contracts/scripts/FundGateway.sol
Labels: Component: Ethereum

update bindings
  relayer/contracts/gateway.go
Labels: Component: Relayer

e2e tests
  smoketest/run-tests.sh
  smoketest/tests/send_native_eth.rs
  smoketest/tests/transfer_native_eth.rs
  web/packages/test/scripts/configure-substrate.sh
Labels: Component: Web, Component: Smoke Tests

fix assert
  smoketest/tests/transfer_native_eth.rs
Labels: Component: Smoke Tests

Add ReentrancyGuard
  contracts/src/Gateway.sol
  contracts/test/Gateway.t.sol
  contracts/test/mocks/Attacker.sol
Labels: Component: Ethereum

.github/labeler.yml:

"Component: Docs":
  - changed-files:
      - any-glob-to-any-file: docs/**

"Component: Relayer":
  - changed-files:
      - any-glob-to-any-file: relayer/**

"Component: Web":
  - changed-files:
      - any-glob-to-any-file: web/**

"Component: Smoke Tests":
  - changed-files:
      - any-glob-to-any-file: smoketest/**

"Component: Control Tool":
  - changed-files:
      - any-glob-to-any-file: control/**

"Component: Ethereum":
  - changed-files:
      - any-glob-to-any-file: contracts/**
