Repository Snowfork/snowbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: Docs, Component: Relayer, Component: Web, Component: Smoke Tests, Component: Control Tool, Component: Ethereum

.github/labeler.yml:

"Component: Docs":
  - changed-files:
      - any-glob-to-any-file: docs/**

"Component: Relayer":
  - changed-files:
      - any-glob-to-any-file: relayer/**

"Component: Web":
  - changed-files:
      - any-glob-to-any-file: web/**

"Component: Smoke Tests":
  - changed-files:
      - any-glob-to-any-file: smoketest/**

"Component: Control Tool":
  - changed-files:
      - any-glob-to-any-file: control/**

"Component: Ethereum":
  - changed-files:
      - any-glob-to-any-file: contracts/**

improve
  relayer/relays/beefy/config.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/token-bucket.go
Labels: Component: Relayer

add WETH to storage
  contracts/scripts/DeployLocal.sol
  contracts/scripts/UpgradeShell.sol
  contracts/scripts/westend/UpgradeShell.sol
  contracts/src/Gateway.sol
  contracts/src/storage/AssetsStorage.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

unwrap weth
  contracts/src/AgentExecutor.sol
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
Labels: Component: Ethereum

refactor
  relayer/beefy-config.json
  relayer/cmd/root.go
  relayer/cmd/run/beefy/command.go
  relayer/cmd/sync_beefy_commitment.go
  relayer/relays/beefy/config.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/on-demand-sync.go
  relayer/relays/beefy/token-bucket.go
Labels: Component: Relayer

delete
  relayer/beefy-config.json
Labels: Component: Relayer

improve validation
  relayer/relays/beefy/config.go
Labels: Component: Relayer

improved waiting logic
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

improve
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

update e2e config
  web/packages/test/config/beefy-relay.json
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Web

Sync beefy commitment on demand (#1342)
  relayer/cmd/root.go
  relayer/cmd/run/beefy/command.go
  relayer/cmd/sync_beefy_commitment.go
  relayer/config/config.go
  relayer/relays/beefy/config.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/on-demand-sync.go
  relayer/relays/beefy/token-bucket.go
  web/packages/test/config/beefy-relay.json
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Relayer, Component: Web

go mod tidy
  relayer/go.mod
  relayer/go.sum
Labels: Component: Relayer

go mod tidy (#1344)
  relayer/go.mod
  relayer/go.sum
Labels: Component: Relayer

fixbug
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

Fix bug in on-demand relay (#1345)
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

Check for cancellation error
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

Check for cancellation error (#1346)
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

fix scripts
  web/packages/test/config/parachain-relay.json
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Web

fix start-services.sh (#1348)
  web/packages/test/config/parachain-relay.json
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Web

check agent id
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/test/Gateway.t.sol
  contracts/test/mocks/MockGateway.sol
Labels: Component: Ethereum

fix tests and add all tests to run-tests
  smoketest/run-tests.sh
  smoketest/tests/upgrade_gateway.rs
Labels: Component: Smoke Tests

improve
  contracts/src/v2/Calls.sol
  contracts/src/v2/Types.sol
  contracts/test/Bitfield.t.sol
  contracts/test/GatewayV2.t.sol
  contracts/test/mocks/BitfieldWrapper.sol
Labels: Component: Ethereum

allow unlocking native ether
  contracts/src/v2/Calls.sol
  contracts/src/v2/Handlers.sol
Labels: Component: Ethereum

improve token registration flows
  contracts/src/Functions.sol
  contracts/src/Gateway.sol
  contracts/src/types/Common.sol
  contracts/src/v2/Calls.sol
  contracts/src/v2/IGateway.sol
  contracts/src/v2/Types.sol
Labels: Component: Ethereum

improve docs
  contracts/src/v2/IGateway.sol
Labels: Component: Ethereum

improve
  contracts/src/v2/Calls.sol
Labels: Component: Ethereum

improve
  contracts/src/v2/Calls.sol
  contracts/src/v2/Types.sol
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

nit
  contracts/src/v2/Calls.sol
Labels: Component: Ethereum

Fix smoke test for V2
  relayer/relays/parachain/digest_item.go
  relayer/relays/parachain/scanner.go
  smoketest/make-bindings.sh
  smoketest/src/helper.rs
  smoketest/tests/register_polkadot_token.rs
  smoketest/tests/register_polkadot_token_v2.rs
  smoketest/tests/send_token.rs
  smoketest/tests/transfer_polkadot_token_v2.rs
  smoketest/tests/transfer_token.rs
  smoketest/tests/v2.rs
  smoketest/tests/v2/outbound/transfer_ena.rs
  smoketest/tests/v2/outbound/transfer_pna.rs
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/set-env.sh
  web/packages/test/scripts/start-message-relayer.sh
Labels: Component: Relayer, Component: Web, Component: Smoke Tests

lock down tokens to agents
  contracts/src/AgentExecutor.sol
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/src/Params.sol
  contracts/src/Token.sol
  contracts/test/ForkUpgrade.t.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

Fix test
  relayer/relays/parachain/parachain-writer.go
  smoketest/tests/v2/outbound/transfer_ena.rs
  web/packages/test/scripts/start-message-relayer.sh
Labels: Component: Relayer, Component: Web, Component: Smoke Tests

Fix unlock WETH
  contracts/src/AgentExecutor.sol
  contracts/src/Functions.sol
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

Sync with contract
  relayer/contracts/gateway.go
  relayer/relays/parachain/parachain-writer.go
Labels: Component: Relayer

Fix smoke test
  smoketest/src/constants.rs
  web/packages/test/scripts/set-env.sh
Labels: Component: Web, Component: Smoke Tests

Fix wrongly register PNA as ENA
  contracts/src/Assets.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum

Update contracts/src/v1/Calls.sol
  contracts/src/v1/Calls.sol
Labels: Component: Ethereum

Apply suggestions from code review
  contracts/src/Initializer.sol
  contracts/src/storage/AssetsStorage.sol
Labels: Component: Ethereum

Fix unlock WETH
  contracts/src/AgentExecutor.sol
  contracts/src/Functions.sol
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

Suppress Error (6243): The "tload" instruction
  contracts/foundry.toml
Labels: Component: Ethereum

Merge recent changes
  contracts/src/AgentExecutor.sol
  contracts/src/Gateway.sol
  contracts/src/Verification.sol
  contracts/src/utils/Call.sol
  contracts/src/v2/Handlers.sol
  contracts/src/v2/Types.sol
  contracts/test/GatewayV2.t.sol
  contracts/test/mocks/HelloWorld.sol
  contracts/test/mocks/MockGateway.sol
  contracts/test/mocks/VerificationWrapper.sol
Labels: Component: Ethereum

add foundry setting
  contracts/foundry.toml
Labels: Component: Ethereum
