Repository Snowfork/snowbridge, pull requests merged in 2020-09, with the labels that each got.

#67 Add attribution for keybase code
  bridgerelayer/keybase/ethereum/keypair.go
  bridgerelayer/keybase/keypair.go
  bridgerelayer/keybase/substrate/keypair.go
Labels: Component: Relayer, R4R

#74 Change relayer license to LGPL
  bridgerelayer/LICENSE
  bridgerelayer/README.md
Labels: Component: Relayer

#69 Refactor relayer for improved quality
  bridgerelayer/.gitignore
  bridgerelayer/Makefile
  bridgerelayer/README.md
  bridgerelayer/chain/chain.go
  bridgerelayer/chain/ethereum/application.go
  bridgerelayer/chain/ethereum/chain.go
  bridgerelayer/chain/ethereum/connection.go
  bridgerelayer/chain/ethereum/connection_test.go
  bridgerelayer/chain/ethereum/events.go
  bridgerelayer/chain/ethereum/listener.go
  bridgerelayer/chain/ethereum/message.go
  bridgerelayer/chain/ethereum/registry.go
  bridgerelayer/chain/ethereum/writer.go
  bridgerelayer/chain/ethereum/writer_test.go
  bridgerelayer/chain/substrate/chain.go
  bridgerelayer/chain/substrate/connection.go
  bridgerelayer/chain/substrate/connection_test.go
  bridgerelayer/chain/substrate/events.go
  bridgerelayer/chain/substrate/listener.go
  bridgerelayer/chain/substrate/writer.go
  bridgerelayer/chain/substrate/writer_test.go
  bridgerelayer/chains/chain.go
  bridgerelayer/chains/ethereum/chain.go
  bridgerelayer/chains/ethereum/router.go
  bridgerelayer/chains/ethereum/streamer.go
  bridgerelayer/chains/substrate/chain.go
  bridgerelayer/chains/substrate/router.go
  bridgerelayer/chains/substrate/streamer.go
  bridgerelayer/cmd/root.go
  bridgerelayer/cmd/run.go
  bridgerelayer/config.toml.sample
  bridgerelayer/core/relay.go
  bridgerelayer/crypto/keypair.go
  bridgerelayer/crypto/secp256k1/keyring.go
  bridgerelayer/crypto/secp256k1/secp256k1.go
  bridgerelayer/crypto/secp256k1/secp256k1_test.go
  bridgerelayer/crypto/sr25519/keyring.go
  bridgerelayer/crypto/sr25519/sr25519.go
  bridgerelayer/crypto/sr25519/sr25519_test.go
  bridgerelayer/go.mod
  bridgerelayer/go.sum
  bridgerelayer/magefile.go
  bridgerelayer/substrate/client.go
  bridgerelayer/types/message.go
  bridgerelayer/types/packet.go
  bridgerelayer/types/packetV2.go
Labels: Component: Relayer

#75 Updated Solidity contracts for M5
  ethereum/contracts/Application.sol
  ethereum/contracts/Bridge.sol
  ethereum/contracts/ERC20App.sol
  ethereum/contracts/ETHApp.sol
  ethereum/contracts/Verifier.sol
  ethereum/migrations/2_next.js
  ethereum/test/test_eth_app.js
Labels: R4R

#89 Miscellaneous Solidity fixes
  ethereum/contracts/Bridge.sol
  ethereum/contracts/Decoder.sol
  ethereum/contracts/Scale.sol
  ethereum/contracts/Verifier.sol
  ethereum/migrations/2_next.js
Labels: R4R

#90 Solidity test suite for M5
  bridgerelayer/chain/ethereum/listener.go
  ethereum/contracts/ERC20App.sol
  ethereum/contracts/ETHApp.sol
  ethereum/scripts/sendErc20.js
  ethereum/scripts/sendEth.js
  ethereum/test/test_erc20_app.js
  ethereum/test/test_eth_app.js
  ethereum/test/test_gas.js
Labels: R4R

#91 Ropsten deployment: config, scripts
  ethereum/.env.example
  ethereum/scripts/getERC20Balance.js
  ethereum/scripts/getEthBalance.js
  ethereum/scripts/getTx.js
  ethereum/scripts/sendErc20.js
  ethereum/scripts/sendEth.js
  ethereum/truffle-config.js
Labels: R4R

#96 Add missing dependencies to package.json
  ethereum/README.md
  ethereum/package.json
  ethereum/yarn.lock
Labels: Component: Ethereum

#98 Fix unmet peer dependency error (babel-core)
  ethereum/package.json
  ethereum/yarn.lock
Labels: Component: Ethereum

#107 Solidity Docs
  ethereum/README.md
  ethereum/package.json
  ethereum/scripts/dumpParachainConfig.js
  ethereum/scripts/getERC20Balance.js
  ethereum/scripts/getEthBalance.js
  ethereum/scripts/getTx.js
  ethereum/scripts/sendErc20.js
  ethereum/scripts/sendEth.js
  ethereum/yarn.lock
Labels: R4R

#108 JavaScript client for Bridge interaction
  test/.gitignore
  test/README.md
  test/example.js
  test/package.json
  test/src/client/index.js
  test/yarn-error.log
  test/yarn.lock
Labels: R4R

#115 Security fix: restrict application message handling to Bridge contract
  ethereum/contracts/Application.sol
  ethereum/contracts/Bridge.sol
  ethereum/contracts/ERC20App.sol
  ethereum/contracts/ETHApp.sol
  ethereum/package.json
  ethereum/test/test_erc20_app.js
  ethereum/test/test_eth_app.js
Labels: R4R

#116 Solidity autogen docs
  ethereum/README.md
  ethereum/docs/Application.md
  ethereum/docs/Bridge.md
  ethereum/docs/Decoder.md
  ethereum/docs/ERC20App.md
  ethereum/docs/ETHApp.md
  ethereum/docs/Scale.md
  ethereum/docs/Verifier.md
Labels: Component: Docs, Component: Ethereum
