Repository Snowfork/snowbridge, pull requests merged in 2022-09, with the labels that each got.

#681 Check latest finalized header verification before syncing messages
  relayer/relays/beacon/cache/cache.go
  relayer/relays/beacon/header/header.go
  relayer/relays/beacon/header/syncer/api.go
  relayer/relays/beacon/header/syncer/syncer.go
  relayer/relays/beacon/message/message.go
  relayer/relays/beacon/writer/parachain-writer.go
  test/scripts/start-services.sh
Labels: Component: Relayer

#685 SNO-324: Enable multiple accounts in outbound channel contract
  ethereum/.envrc-example
  ethereum/contracts/BasicOutboundChannel.sol
  ethereum/deploy/20-configure-channels.ts
  ethereum/test/test_basic_outbound_channel.js
  relayer/contracts/basic/outbound.go
  test/.envrc-example
Labels: Component: Ethereum

#684 Implements MaxEncodedLen for beacon client
  parachain/pallets/ethereum-beacon-client/src/config.rs
  parachain/pallets/ethereum-beacon-client/src/lib.rs
  parachain/pallets/ethereum-beacon-client/src/merkleization.rs
  parachain/pallets/ethereum-beacon-client/src/mock.rs
  parachain/pallets/ethereum-beacon-client/src/ssz.rs
  parachain/pallets/ethereum-beacon-client/src/tests.rs
  parachain/primitives/beacon/src/lib.rs
  parachain/runtime/snowbase/src/lib.rs
  parachain/runtime/snowblink/src/lib.rs
  parachain/runtime/snowbridge/src/lib.rs
Labels: Component: Parachain

#687 SNO-325: Enable multiple accounts in inbound channel pallet
  ethereum/contracts/BasicOutboundChannel.sol
  parachain/README.md
  parachain/pallets/basic-channel/src/inbound/envelope.rs
  parachain/pallets/basic-channel/src/inbound/mod.rs
  parachain/pallets/basic-channel/src/inbound/test.rs
  parachain/pallets/incentivized-channel/src/inbound/mod.rs
  parachain/primitives/core/src/types.rs
  relayer/contracts/basic/outbound.go
Labels: Component: Parachain
