Repository Snowfork/snowbridge, pull requests merged in 2024-12, with the labels that each got.

#1335 Fix for signature malleability
  go.work.sum
  relayer/cmd/root.go
  relayer/cmd/scan_beefy.go
  relayer/go.mod
  relayer/relays/beefy/config.go
  relayer/relays/beefy/main.go
  relayer/relays/beefy/parameters.go
  relayer/relays/beefy/parameters_test.go
  relayer/relays/beefy/polkadot-listener.go
  web/packages/test/config/beefy-relay.json
Labels: Component: Relayer, Component: Web

#1340 Fix Control Tool for Paseo and Westend
  .github/workflows/control.yml
  control/README.md
  control/preimage/src/commands.rs
  control/preimage/src/constants.rs
  control/preimage/src/helpers.rs
  control/runtimes/asset-hub-paseo/asset-hub-metadata.bin
  control/runtimes/asset-hub-westend/asset-hub-metadata.bin
  control/runtimes/bridge-hub-paseo/bridge-hub-metadata.bin
  control/runtimes/bridge-hub-westend/bridge-hub-metadata.bin
  control/runtimes/paseo/polkadot-metadata.bin
  control/runtimes/westend/polkadot-metadata.bin
  control/update-runtimes.sh
Labels: Component: Control Tool

#1345 Fix bug in on-demand-relay
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

#1346 Check for cancellation error
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

#1348 Fix start-services.sh script
  web/packages/test/config/parachain-relay.json
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Web

#1349 fix tests and add all tests to run-tests
  smoketest/run-tests.sh
  smoketest/tests/upgrade_gateway.rs
Labels: Component: Smoke Tests

#1351 Fix wrongly register PNA as ENA
  contracts/src/Assets.sol
  contracts/test/Gateway.t.sol
Labels: Component: Ethereum
