Repository Snowfork/snowbridge, pull requests merged in 2025-08, with the labels that each got.

#1538 Improve alarms
  web/packages/api/src/status.ts
  web/packages/api/src/subsquid.ts
  web/packages/operations/src/alarm.ts
  web/packages/operations/src/monitor.ts
Labels: Component: Web

#1547 Optimise fetching all receipts
  relayer/chain/ethereum/receipt.go
Labels: Component: Relayer

#1551 Allow disabling heartbeat
  relayer/chain/ethereum/connection.go
  relayer/chain/parachain/connection.go
  relayer/chain/relaychain/connection.go
  relayer/config/config.go
  relayer/relays/beacon/config/config.go
Labels: Component: Relayer

#1550 Add WUD to Kusama
  control/preimage-kusama/src/commands.rs
  control/runtimes/asset-hub-kusama/asset-hub-metadata.bin
  control/runtimes/bridge-hub-kusama/bridge-hub-metadata.bin
  control/runtimes/kusama/polkadot-metadata.bin
Labels: Component: Control Tool
