Repository Snowfork/snowbridge, pull requests merged in 2025-03, with the labels that each got.

#1399 Improve fork test
  contracts/test/ForkUpgrade202502.t.sol
  contracts/test/data/mainnet-gateway-submitv1.json
  contracts/test/mocks/ForkTestUtils.sol
  contracts/test/utils/ForkTestFixtures.sol
Labels: Component: Ethereum

#1400 improve fork tests
  contracts/test/ForkUpgrade202502.t.sol
  control/chopsticks/polkadot-asset-hub.yml
  control/chopsticks/polkadot-bridge-hub.yml
Labels: Component: Ethereum, Component: Control Tool

#1278 API fixes polkadot-stable2409
  web/packages/api/src/toEthereum.ts
Labels: Component: Web

#1397 Remove the unsupported indexer query
  web/packages/api/package.json
  web/packages/api/src/status.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1403 Fix Bifrost dry run Tx
  web/packages/api/package.json
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1404 Log topic on ethereum side
  contracts/src/Gateway.sol
  contracts/src/v2/IGateway.sol
  contracts/src/v2/Types.sol
  contracts/test/GatewayV2.t.sol
  relayer/contracts/gateway.go
  relayer/relays/parachain/types.go
Labels: Component: Relayer, Component: Ethereum

#1409 Add support for ether
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/index.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1411 Update indexer endpoint
  web/packages/api/src/environment.ts
  web/packages/operations/package.json
  web/packages/operations/src/global_transfer_history.ts
Labels: Component: Web

#1412 Ban lido Token
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1405 Register Polkadot Native Assets in Control Tool
  control/preimage/Cargo.toml
  control/preimage/src/commands.rs
  control/preimage/src/helpers.rs
  control/preimage/src/main.rs
  control/runtimes/asset-hub-westend/asset-hub-metadata.bin
  control/runtimes/bridge-hub-westend/bridge-hub-metadata.bin
  control/runtimes/polkadot/polkadot-metadata.bin
  control/runtimes/westend/polkadot-metadata.bin
Labels: Component: Control Tool

#1418 Force rebuild ignoring the cache
  web/packages/api/package.json
  web/packages/contract-types/package.json
Labels: Component: Web

#1416 Format codes
  web/packages/api/src/assets.ts
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/history_v2.ts
  web/packages/api/src/index.ts
  web/packages/api/src/subscan.ts
  web/packages/api/src/toEthereum.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/operations/src/main.ts
  web/packages/operations/src/monitor.ts
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_polkadot.ts
  web/packages/operations/src/transfer_token.ts
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1421 Remove Equilibrium and Equilibrium Dollar
  control/preimage/src/commands.rs
Labels: Component: Control Tool

#1424 Hot fix
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1415 Do not check for ED if dry run was successful
  web/packages/api/package.json
  web/packages/api/src/index.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1429 Merge updates from V1
  .github/workflows/relayer.yml
  .github/workflows/release-relayer.yml
  control/preimage/src/commands.rs
  go.work
  relayer/chain/ethereum/header_cache_state_test.go
  relayer/go.mod
  relayer/go.sum
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Relayer, Component: Control Tool, Component: Web

#1428 For V1 compatibility
  contracts/src/v1/Types.sol
Labels: Component: Ethereum
