Repository Snowfork/snowbridge, pull requests merged in 2025-04, with the labels that each got.

#1427 Increase finalization timeout
  relayer/relays/parachain/scanner.go
Labels: Component: Relayer

#1435 Release monitoring service as a container
  .github/workflows/release-monitor.yml
  .github/workflows/release-relayer.yml
  relayer/Dockerfile
  web/Dockerfile
  web/monitor-docker-compose.yaml
Labels: Component: Relayer, Component: Web

#1431 Command to register assets on Kusama
  control/Cargo.lock
  control/Cargo.toml
  control/README.md
  control/chopsticks-config/polkadot-asset-hub.yml
  control/chopsticks-config/polkadot-bridge-hub.yml
  control/chopsticks-config/polkadot.yml
  control/chopsticks/Cargo.toml
  control/chopsticks/src/lib.rs
  control/chopsticks/templates/chopsticks-execute-upgrade.js.hbs
  control/preimage-kusama/Cargo.toml
  control/preimage-kusama/build.rs
  control/preimage-kusama/src/asset_hub_runtime.rs
  control/preimage-kusama/src/commands.rs
  control/preimage-kusama/src/constants.rs
  control/preimage-kusama/src/helpers.rs
  control/preimage-kusama/src/main.rs
  control/preimage-kusama/src/relay_runtime.rs
  control/preimage-kusama/src/xcm_helper.rs
  control/preimage/Cargo.toml
  control/preimage/src/main.rs
  control/runtimes/asset-hub-kusama/Cargo.toml
  control/runtimes/asset-hub-kusama/asset-hub-metadata.bin
  control/runtimes/asset-hub-kusama/build.rs
  control/runtimes/asset-hub-kusama/src/lib.rs
  control/runtimes/bridge-hub-kusama/Cargo.toml
  control/runtimes/bridge-hub-kusama/bridge-hub-metadata.bin
  control/runtimes/bridge-hub-kusama/build.rs
  control/runtimes/bridge-hub-kusama/src/lib.rs
  control/runtimes/kusama/Cargo.toml
  control/runtimes/kusama/build.rs
  control/runtimes/kusama/polkadot-metadata.bin
  control/runtimes/kusama/src/lib.rs
  control/update-runtimes.sh
Labels: Component: Control Tool

#1434 Tune alarm configurations
  web/packages/operations/.env.example
  web/packages/operations/src/alarm.ts
  web/packages/operations/src/main.ts
Labels: Component: Web

#1450 Hydration fixes
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1444 Audit Issue 24: Revert with NotEnoughGas instead of invalid in v2_dispatch
  contracts/src/Gateway.sol
  contracts/src/v2/IGateway.sol
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

#1447 Audit Issue 27: Remove unused code
  contracts/scripts/DeployLocal.sol
  contracts/scripts/FundGateway.sol
  contracts/src/AgentExecutor.sol
  contracts/src/Functions.sol
  contracts/src/Gateway.sol
  contracts/src/Initializer.sol
  contracts/src/SubstrateTypes.sol
  contracts/src/storage/CoreStorage.sol
  contracts/src/v2/Calls.sol
  contracts/src/v2/Handlers.sol
  contracts/src/v2/IGateway.sol
Labels: Component: Ethereum

#1446 Audit Issue 26: Validation before computation
  contracts/src/Gateway.sol
  contracts/src/Verification.sol
Labels: Component: Ethereum

#1454 Add TEER Token
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1443 Audit Issue 23: Handle 0 length case for makeIndex
  contracts/src/utils/Bitfield.sol
  contracts/test/Bitfield.t.sol
Labels: Component: Ethereum

#1432 Run both relayers
  .github/workflows/smoke-tests.yml
  generate.go_v1
  go.work.sum
  relayer/relays/parachain/config.go
  scripts/init-smoketests.sh
  smoketest/tests/create_agent.rs
  smoketest/tests/create_channel.rs
  smoketest/tests/register_token.rs
  smoketest/tests/send_token.rs
  smoketest/tests/send_token_to_penpal.rs
  smoketest/tests/set_pricing_params.rs
  smoketest/tests/set_token_transfer_fees.rs
  smoketest/tests/transfer_native_from_agent.rs
  smoketest/tests/upgrade_gateway.rs
  web/packages/contract-types/package.json
  web/packages/test/config/execution-relay-v1.json
  web/packages/test/config/parachain-relay-v1.json
  web/packages/test/scripts/build-binary.sh
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/force-beacon-checkpoint.sh
  web/packages/test/scripts/run-smoketests.sh
  web/packages/test/scripts/set-env.sh
  web/packages/test/scripts/start-relayer.sh
  web/pnpm-lock.yaml
  web/turbo.json
Labels: Component: Relayer, Component: Smoke Tests, Component: Web

#1456 Add the OneShot sync command back
  relayer/cmd/root.go
  relayer/cmd/sync_beefy_commitment.go
  relayer/relays/beefy/on-demand-sync.go
  relayer/relays/beefy/scanner.go
Labels: Component: Relayer

#1440 Audit Issue 8: Adds contract address validation when registering a native token
  contracts/src/Functions.sol
  contracts/src/v1/Calls.sol
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

#1464 Fix Moonbeam Asset Discovery
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1439 Audit Issue 3: Keep storage agentAddresses for backward compatibility
  contracts/src/storage/CoreStorage.sol
Labels: Component: Ethereum
