Repository Snowfork/snowbridge, pull requests merged in 2025-09, with the labels that each got.

#1560 Fix Ethereum relay to wait until the next block
  relayer/relays/execution/main.go
Labels: Component: Relayer

#1556 Register ERC-20 metadata on Polkadot and Kusama
  control/preimage-kusama/src/commands.rs
  control/preimage-kusama/src/main.rs
  control/preimage/src/commands.rs
  control/preimage/src/helpers.rs
  control/preimage/src/main.rs
  control/runtimes/asset-hub-paseo/asset-hub-metadata.bin
  control/runtimes/asset-hub-polkadot/asset-hub-metadata.bin
  control/runtimes/asset-hub-westend/asset-hub-metadata.bin
  control/runtimes/bridge-hub-paseo/bridge-hub-metadata.bin
  control/runtimes/bridge-hub-polkadot/bridge-hub-metadata.bin
  control/runtimes/bridge-hub-westend/bridge-hub-metadata.bin
  control/runtimes/paseo/polkadot-metadata.bin
  control/runtimes/polkadot/polkadot-metadata.bin
  control/runtimes/westend/polkadot-metadata.bin
Labels: Component: Control Tool

#1552 Adds NeuroWeb to Paseo
  web/packages/api/src/environment.ts
  web/packages/api/src/index.ts
  web/packages/api/src/parachains/index.ts
  web/packages/api/src/parachains/neuroweb.ts
  web/packages/operations/package.json
  web/packages/operations/src/transfer_to_polkadot.ts
  web/packages/operations/src/unwrap_snow_trac.ts
  web/packages/operations/src/wrap_snow_trac.ts
  web/packages/registry/src/paseo_sepolia.registry.json
Labels: Component: Web

#1553 Upgrade Subxt and Forge
  flake.lock
  smoketest/Cargo.lock
  smoketest/Cargo.toml
  smoketest/make-bindings.sh
  smoketest/src/penpal_helper.rs
Labels: Component: Smoke Tests

#1569 Revert "Use nix geth (#1563)"
  flake.lock
  flake.nix
  web/packages/test/scripts/deploy-ethereum.sh
  web/packages/test/scripts/set-env.sh
Labels: Component: Web

#1572 More tests
  contracts/test/Bitfield.t.sol
  contracts/test/mocks/BitfieldWrapper.sol
Labels: Component: Ethereum

#1571 Beefy client v2
  contracts/src/BeefyClient.sol
  contracts/src/utils/Bitfield.sol
  contracts/test/BeefyClient.t.sol
  contracts/test/Bitfield.t.sol
  contracts/test/mocks/BitfieldWrapper.sol
  docs/architecture/verification/polkadot/README.md
Labels: Component: Ethereum, Component: Docs

#1585 Backport (#1581) from V1
  relayer/chain/ethereum/connection.go
  relayer/relays/beefy/ethereum-writer.go
  relayer/relays/beefy/on-demand-sync.go
  relayer/relays/beefy/polkadot-listener.go
Labels: Component: Relayer
