Repository Snowfork/snowbridge, pull requests merged in 2025-05, with the labels that each got.

#1465 Fix slot placeholder
  contracts/src/storage/CoreStorage.sol
Labels: Component: Ethereum

#1459 Build PNA Registry
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1468 Update graphql API endpoint to a stable one
  web/packages/api/src/environment.ts
  web/packages/operations/.env.example
Labels: Component: Web

#1470 Hot fix event index
  web/packages/api/package.json
  web/packages/api/src/utils.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1474 Mythos send back to Eth
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/parachains/moonbeam.ts
  web/packages/api/src/parachains/mythos.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/package.json
  web/packages/test-helpers/package.json
Labels: Component: Web

#1475 Patch pnpm-lock file
  web/pnpm-lock.yaml
Labels: Component: Web

#1476 Fix hanging Mythos tx
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1472 Fix breaking smoke tests
  relayer/contracts/gateway.go
  relayer/relays/execution/main.go
  smoketest/Cargo.lock
  smoketest/Cargo.toml
  smoketest/make-bindings.sh
  smoketest/src/asset_hub_helper.rs
  smoketest/src/constants.rs
  smoketest/src/helper.rs
  smoketest/src/penpal_helper.rs
  smoketest/src/types.rs
  smoketest/tests/send_token_to_penpal.rs
  smoketest/tests/v2/send_ena_to_ah.rs
  smoketest/tests/v2/send_pna.rs
  smoketest/tests/v2/transact_e2p.rs
  web/packages/contract-types/package.json
  web/packages/test-helpers/.gitignore
  web/packages/test-helpers/package.json
  web/packages/test-helpers/src/configureE2E.ts
  web/packages/test/config/launch-config.toml
  web/packages/test/scripts/build-binary.sh
  web/packages/test/scripts/configure-others.sh
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/set-env.sh
  web/packages/test/scripts/start-relayer.sh
  web/packages/test/scripts/xcm-helper.sh
  web/pnpm-lock.yaml
Labels: Component: Relayer, Component: Smoke Tests, Component: Web

#1479 Improve send token kusama
  web/packages/operations/src/index_meta_data.ts
Labels: Component: Web
