Repository Snowfork/snowbridge, pull requests merged in 2025-07, with the labels that each got.

#1516 Add Curio token to Kusama registrations
  control/preimage-kusama/src/commands.rs
  control/runtimes/asset-hub-kusama/asset-hub-metadata.bin
  control/runtimes/bridge-hub-kusama/bridge-hub-metadata.bin
  control/runtimes/kusama/polkadot-metadata.bin
Labels: Component: Control Tool

#1509 Update Ethereum client fixture command
  relayer/cmd/generate_beacon_data.go
  relayer/templates/beacon-fixtures.mustache
  web/packages/test/config/beacon-relay.json
  web/packages/test/config/execution-relay-v1.json
  web/packages/test/config/execution-relay.json
  web/packages/test/config/parachain-relay.json
Labels: Component: Relayer, Component: Web

#1520 Add Slippage Pad Percentage for Swap Fees
  web/packages/api/package.json
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/utils.ts
  web/packages/base-types/package.json
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/registry/package.json
Labels: Component: Web

#1521 Fix appendix instruction with native asset as fee
  web/packages/api/package.json
  web/packages/api/src/parachains/mythos.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/base-types/package.json
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/registry/package.json
Labels: Component: Web

#1522 Supress false alarms
  web/packages/operations/src/alarm.ts
Labels: Component: Web

#1524 API Updates
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/forKusama.ts
  web/packages/api/src/history_v2.ts
  web/packages/api/src/index.ts
  web/packages/api/src/parachains/index.ts
  web/packages/api/src/parachains/jamton.ts
  web/packages/api/src/status.ts
  web/packages/api/src/subsquid.ts
  web/packages/api/src/toEthereumFromEVM_v2.ts
  web/packages/api/src/toEthereumSnowbridgeV2.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/base-types/package.json
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/build_asset_registry.ts
  web/packages/operations/src/examples/send_ether_from_assethub_to_eth.ts
  web/packages/operations/src/examples/send_ether_from_eth_to_assethub.ts
  web/packages/operations/src/global_transfer_history_v2.ts
  web/packages/operations/src/monitor.ts
  web/packages/operations/src/register_erc20.ts
  web/packages/operations/src/transfer_for_kusama.ts
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_ethereum_v2.ts
  web/packages/operations/src/transfer_to_polkadot.ts
  web/packages/registry/build.ts
  web/packages/registry/package.json
  web/packages/registry/src/paseo_sepolia.registry.json
  web/packages/registry/src/polkadot_mainnet.registry.json
Labels: Component: Web

#1530 Adjusted the scheduler of on-demand BEEFY relay
  relayer/cmd/run/beefy/command.go
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

#1528 Reorganize code structure by transfer types & Diversify fee options
  web/packages/api/src/assets.ts
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/forKusama.ts
  web/packages/api/src/history.ts
  web/packages/api/src/index.ts
  web/packages/api/src/parachains/parachainBase.ts
  web/packages/api/src/subscan.ts
  web/packages/api/src/toEthereum.ts
  web/packages/api/src/toEthereumSnowbridgeV2.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot.ts
  web/packages/api/src/transfers/toEthereum/erc20FromAH.ts
  web/packages/api/src/transfers/toEthereum/erc20FromParachain.ts
  web/packages/api/src/transfers/toEthereum/pnaFromAH.ts
  web/packages/api/src/transfers/toEthereum/pnaFromParachain.ts
  web/packages/api/src/transfers/toEthereum/transferInterface.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/api/src/xcmV5Builder.ts
  web/packages/api/src/xcmbuilders/toEthereum/erc20FromAH.ts
  web/packages/api/src/xcmbuilders/toEthereum/erc20FromAHWithDotAsFee.ts
  web/packages/api/src/xcmbuilders/toEthereum/erc20FromParachain.ts
  web/packages/api/src/xcmbuilders/toEthereum/erc20FromParachainWithDotAsFee.ts
  web/packages/api/src/xcmbuilders/toEthereum/erc20FromParachainWithNativeAsFee.ts
  web/packages/api/src/xcmbuilders/toEthereum/pnaFromAH.ts
  web/packages/api/src/xcmbuilders/toEthereum/pnaFromAHWithDotAsFee.ts
  web/packages/api/src/xcmbuilders/toEthereum/pnaFromParachain.ts
  web/packages/api/src/xcmbuilders/toEthereum/pnaFromParachainWithDotAsFee.ts
  web/packages/api/src/xcmbuilders/toEthereum/pnaFromParachainWithNativeAsFee.ts
  web/packages/operations/package.json
  web/packages/operations/src/register_erc20.ts
  web/packages/operations/src/transfer_from_p2e_v2_with_fee.ts
  web/packages/operations/src/transfer_to_ethereum_v2.ts
  web/packages/test-helpers/src/configureE2E.ts
  web/packages/test/.envrc-example
  web/packages/test/scripts/configure-others.sh
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/deploy-ethereum.sh
Labels: Component: Web

#1531 Fix: Add frequency asset and Parachain back
  web/packages/registry/src/westend_sepolia.registry.json
Labels: Component: Web
