Repository Snowfork/snowbridge, pull requests merged in 2025-02, with the labels that each got.

#1370 Query the status of a single transfer & add comments for the indexer api
  web/packages/api/package.json
  web/packages/api/src/history_v2.ts
  web/packages/api/src/subsquid.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/global_transfer_history_v2.ts
Labels: Component: Web

#1376 Fix test script
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_polkadot.ts
Labels: Component: Web

#1377 Fix mythos api
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1379 Api minor fixes
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1380 Fix ops scripts
  web/packages/api/package.json
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1378 Fix V2 tests
  contracts/scripts/DeployLocal.sol
  relayer/relays/parachain/parachain-writer.go
  smoketest/Cargo.lock
  smoketest/Cargo.toml
  smoketest/make-bindings.sh
  smoketest/src/asset_hub_helper.rs
  smoketest/src/helper.rs
  smoketest/src/helper_v2.rs
  smoketest/src/lib.rs
  smoketest/src/types.rs
  smoketest/tests/send_native_eth.rs
  smoketest/tests/transfer_native_eth.rs
  smoketest/tests/v2.rs
  smoketest/tests/v2/outbound/agent_transact.rs
  smoketest/tests/v2/outbound/register_agent.rs
  smoketest/tests/v2/outbound/register_pna.rs
  smoketest/tests/v2/outbound/transfer_ena.rs
  smoketest/tests/v2/outbound/transfer_pna.rs
  web/packages/api/src/history.ts
  web/packages/api/src/index.ts
  web/packages/api/src/toPolkadot.ts
  web/packages/operations/src/global_transfer_history.ts
  web/packages/test-helpers/package.json
  web/packages/test-helpers/src/batchTransfer.ts
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/set-env.sh
  web/packages/test/scripts/start-relayer.sh
  web/packages/test/scripts/start-services.sh
  web/pnpm-lock.yaml
Labels: Component: Relayer, Component: Ethereum, Component: Smoke Tests, Component: Web

#1385 Improve comments and docs
  web/packages/operations/.env.example
  web/packages/operations/README.md
  web/packages/operations/ecosystem.config.js
  web/packages/operations/westend-ecosystem.config.js
Labels: Component: Web

#1386 Monitoring the indexer service
  web/packages/api/src/environment.ts
  web/packages/api/src/status.ts
  web/packages/api/src/subsquid.ts
  web/packages/api/src/utils.ts
  web/packages/operations/src/alarm.ts
  web/packages/operations/src/monitor.ts
Labels: Component: Web

#1382 Add basic Moonbeam
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/history_v2.ts
  web/packages/api/src/index.ts
  web/packages/api/src/subsquid.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/global_transfer_history.ts
  web/packages/operations/src/monitor.ts
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_polkadot.ts
  web/packages/operations/src/transfer_token.ts
  web/packages/operations/src/transfer_token_v2.ts
Labels: Component: Web

#1388 Create agent
  contracts/src/Gateway.sol
  contracts/src/v2/IGateway.sol
  contracts/src/v2/Types.sol
  contracts/test/GatewayV2.t.sol
  relayer/contracts/gateway.go
  smoketest/src/constants.rs
  smoketest/src/helper.rs
  smoketest/tests/v2.rs
  smoketest/tests/v2/outbound/agent_transact.rs
  smoketest/tests/v2/outbound/register_agent.rs
  smoketest/tests/v2/outbound/register_pna.rs
  smoketest/tests/v2/outbound/transfer_pna.rs
Labels: Component: Relayer, Component: Ethereum, Component: Smoke Tests

#1394 Fetch assets Asynchronously
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1384 Improve ERC20 implementation
  contracts/src/Token.sol
  contracts/src/TokenLib.sol
  contracts/src/interfaces/IERC20.sol
  contracts/src/interfaces/IERC20Metadata.sol
  contracts/src/interfaces/IERC20Permit.sol
  contracts/test/Token.t.sol
Labels: Component: Ethereum

#1393 Improve fork tests for upgrade
  contracts/src/Gateway.sol
  contracts/test/ForkUpgrade202502.t.sol
  contracts/test/Gateway.t.sol
  contracts/test/mocks/ForkTestUtils.sol
Labels: Component: Ethereum

#1395 Update preimage tool
  contracts/scripts/deploy.sh
  contracts/scripts/upgrades/polkadot/DeployGateway202502.sol
  control/Cargo.lock
  control/Cargo.toml
  control/README.md
  control/preimage/src/commands.rs
  control/preimage/src/helpers.rs
  control/preimage/src/main.rs
  control/runtimes/asset-hub-polkadot/asset-hub-metadata.bin
  control/runtimes/asset-hub-westend/asset-hub-metadata.bin
  control/runtimes/bridge-hub-polkadot/bridge-hub-metadata.bin
  control/runtimes/polkadot/polkadot-metadata.bin
  control/runtimes/polkadot/src/runtime.rs
Labels: Component: Ethereum, Component: Control Tool

#1381 Gateway should no longer build token registration XCM
  contracts/src/Gateway.sol
  contracts/src/v2/Calls.sol
  contracts/src/v2/IGateway.sol
  contracts/src/v2/Types.sol
  contracts/test/GatewayV2.t.sol
  relayer/contracts/gateway.go
  smoketest/src/asset_hub_helper.rs
  smoketest/src/constants.rs
  smoketest/src/helper.rs
  web/packages/test/config/execution-relay.json
  web/packages/test/scripts/start-relayer-v2.sh
  web/packages/test/scripts/start-relayer.sh
Labels: Component: Relayer, Component: Ethereum, Component: Smoke Tests, Component: Web

#1398 Moonbeam EVM Wallet Support
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web
