Repository Snowfork/snowbridge, pull requests merged in 2025-01, with the labels that each got.

#1360 Remove Rococo from Control Tool
  .github/workflows/control.yml
  control/Cargo.lock
  control/Cargo.toml
  control/preimage/Cargo.toml
  control/preimage/src/asset_hub_runtime.rs
  control/preimage/src/bridge_hub_runtime.rs
  control/preimage/src/constants.rs
  control/preimage/src/relay_runtime.rs
  control/runtimes/asset-hub-rococo/Cargo.toml
  control/runtimes/asset-hub-rococo/asset-hub-metadata.bin
  control/runtimes/asset-hub-rococo/build.rs
  control/runtimes/asset-hub-rococo/src/lib.rs
  control/runtimes/asset-hub-westend/asset-hub-metadata.bin
  control/runtimes/bridge-hub-rococo/Cargo.toml
  control/runtimes/bridge-hub-rococo/bridge-hub-metadata.bin
  control/runtimes/bridge-hub-rococo/build.rs
  control/runtimes/bridge-hub-rococo/src/lib.rs
  control/runtimes/bridge-hub-westend/bridge-hub-metadata.bin
  control/runtimes/paseo/polkadot-metadata.bin
  control/runtimes/rococo/Cargo.toml
  control/runtimes/rococo/build.rs
  control/runtimes/rococo/polkadot-metadata.bin
  control/runtimes/rococo/src/lib.rs
  control/runtimes/westend/polkadot-metadata.bin
Labels: Component: Control Tool

#1347 Check channel agent Id
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/test/Gateway.t.sol
  contracts/test/mocks/MockGateway.sol
Labels: Component: Ethereum

#1362 History data from subsquid indexer
  web/package.json
  web/packages/api/package.json
  web/packages/api/src/history_v2.ts
  web/packages/api/src/index.ts
  web/packages/api/src/subsquid.ts
  web/packages/api/src/utils.ts
  web/packages/contract-types/package.json
  web/packages/operations/package.json
  web/packages/operations/src/global_transfer_history.ts
  web/packages/operations/src/global_transfer_history_v2.ts
  web/packages/test-helpers/package.json
  web/packages/test-helpers/src/generateBeefyCheckpoint.ts
  web/packages/test-helpers/src/generateBeefyTestFixture.ts
  web/packages/test-helpers/src/helpers.ts
  web/packages/test/package.json
  web/pnpm-lock.yaml
Labels: Component: Web

#1363 Adds Aave token metadata to mainnet environment
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1364 Update CI to publish packages
  .github/workflows/npm-publish.yml
  web/packages/contracts/package.json
  web/pnpm-workspace.yaml
Labels: Component: Web

#1361 Add register ether command to control tool
  control/preimage/src/commands.rs
  control/preimage/src/main.rs
Labels: Component: Control Tool

#1365 Improve the latency for history api
  web/packages/api/package.json
  web/packages/api/src/history_v2.ts
  web/packages/api/src/subsquid.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1368 Fix history api
  web/packages/api/package.json
  web/packages/api/src/history_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1354 Support Native ETH in v1
  contracts/scripts/DeployLocal.sol
  contracts/scripts/FundGateway.sol
  contracts/scripts/upgrades/polkadot/DeployGateway202502.sol
  contracts/scripts/upgrades/westend/DeployGateway202502.sol
  contracts/src/Agent.sol
  contracts/src/AgentExecutor.sol
  contracts/src/Assets.sol
  contracts/src/Gateway.sol
  contracts/src/Types.sol
  contracts/src/interfaces/IGateway.sol
  contracts/src/upgrades/Gateway202502.sol
  contracts/test/Bitfield.t.sol
  contracts/test/ForkUpgrade202502.t.sol
  contracts/test/Gateway.t.sol
  contracts/test/mocks/BitfieldWrapper.sol
  contracts/test/mocks/MockGateway.sol
  relayer/cmd/generate_beacon_data.go
  relayer/contracts/gateway.go
  relayer/templates/beacon-fixtures.mustache
  relayer/templates/inbound-fixtures.mustache
  smoketest/run-tests.sh
  smoketest/tests/send_native_eth.rs
  smoketest/tests/transfer_native_eth.rs
  smoketest/tests/upgrade_gateway.rs
  web/packages/api/src/environment.ts
  web/packages/test/scripts/configure-substrate.sh
  web/packages/test/scripts/fund-gateway.sh
  web/packages/test/scripts/set-env.sh
Labels: Component: Relayer, Component: Ethereum, Component: Smoke Tests, Component: Web
