Repository Snowfork/snowbridge, pull requests merged in 2025-06, with the labels that each got.

#1463 Send Token to Kusama
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/forKusama.ts
  web/packages/api/src/index.ts
  web/packages/api/src/parachains/mythos.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/api/src/xcmBuilderKusama.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/package.json
  web/packages/operations/src/index_meta_data.ts
  web/packages/operations/src/transfer_dot_from_kusama_to_polkadot.ts
  web/packages/operations/src/transfer_dot_from_polkadot_to_kusama.ts
  web/packages/operations/src/transfer_eth_from_kusama_to_polkadot.ts
  web/packages/operations/src/transfer_eth_from_polkadot_to_kusama.ts
  web/packages/operations/src/transfer_for_kusama.ts
  web/packages/operations/src/transfer_ksm_from_kusama_to_polkadot.ts
  web/packages/operations/src/transfer_ksm_from_polkadot_to_kusama.ts
  web/packages/operations/src/transfer_weth_from_kusama_to_polkadot.ts
  web/packages/operations/src/transfer_weth_from_polkadot_to_kusama.ts
Labels: Component: Web

#1484 Kusama transfer history
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/history_v2.ts
  web/packages/api/src/subsquid.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1489 Fix query PNA
  web/packages/api/src/assets_v2.ts
  web/packages/operations/src/transfer_ether_from_ah.ts
  web/packages/operations/src/transfer_ether_to_ah.ts
  web/packages/operations/src/transfer_relay_token_to_ah.ts
  web/packages/operations/src/transfer_relay_token_to_ethereum.ts
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_polkadot.ts
Labels: Component: Web

#1449 Fix on-demand relaying of Beefy commitments
  relayer/chain/parachain/message.go
  relayer/chain/relaychain/connection.go
  relayer/cmd/root.go
  relayer/cmd/run/beefy/command.go
  relayer/cmd/sync_beefy_commitment.go
  relayer/contracts/v1/gateway.go
  relayer/generate.go
  relayer/relays/beefy/config.go
  relayer/relays/beefy/on-demand-sync.go
  relayer/relays/beefy/scanner.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
  web/packages/test/config/beefy-relay.json
  web/packages/test/scripts/build-binary.sh
  web/packages/test/scripts/start-beefy-on-demand-relayer.sh
Labels: Component: Relayer, Component: Web

#1485 Add acala
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/environment.ts
  web/packages/api/src/forKusama.ts
  web/packages/api/src/parachains/acala.ts
  web/packages/api/src/parachains/assethub.ts
  web/packages/api/src/parachains/assethubKusama.ts
  web/packages/api/src/parachains/bifrost.ts
  web/packages/api/src/parachains/generic.ts
  web/packages/api/src/parachains/hydration.ts
  web/packages/api/src/parachains/index.ts
  web/packages/api/src/parachains/moonbeam.ts
  web/packages/api/src/parachains/mythos.ts
  web/packages/api/src/parachains/parachainBase.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/api/src/toPolkadot_v2.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/src/transfer_ether_from_ah.ts
  web/packages/operations/src/transfer_ether_to_ah.ts
  web/packages/operations/src/transfer_relay_token_to_ah.ts
  web/packages/operations/src/transfer_relay_token_to_ethereum.ts
  web/packages/operations/src/transfer_to_ethereum.ts
  web/packages/operations/src/transfer_to_polkadot.ts
Labels: Component: Web

#1417 Update default fee
  web/packages/api/src/toEthereum.ts
  web/packages/api/src/toEthereum_v2.ts
Labels: Component: Web

#1498 Adds min balance to Kusama fee
  web/packages/api/package.json
  web/packages/api/src/forKusama.ts
  web/packages/api/src/xcmBuilder.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1499 Fix Moonbeam balances
  web/packages/api/package.json
  web/packages/api/src/parachains/moonbeam.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1500 API Override metadata
  web/packages/api/package.json
  web/packages/api/src/assets_v2.ts
  web/packages/api/src/forKusama.ts
  web/packages/api/src/index.ts
  web/packages/api/src/parachains/moonbeam.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1501 Beefy-On-Demand-Relay: Sync beefy head newer than parachain head
  relayer/relays/beefy/on-demand-sync.go
Labels: Component: Relayer

#1507 Fix kusama finalization
  web/packages/api/src/forKusama.ts
Labels: Component: Web

#1502 Update Paseo contracts
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
Labels: Component: Web

#1506 Check for isFinalized in case of re-orgs
  web/packages/api/src/forKusama.ts
  web/packages/api/src/parachains/assethub.ts
  web/packages/api/src/parachains/assethubKusama.ts
  web/packages/api/src/toEthereum_v2.ts
Labels: Component: Web

#1487 Support XRQCY from Frequency parachain
  web/packages/api/package.json
  web/packages/api/src/environment.ts
  web/packages/api/src/parachains/frequency.ts
  web/packages/api/src/parachains/index.ts
  web/packages/api/src/toEthereum_v2.ts
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/operations/package.json
  web/packages/operations/src/transfer_from_p2e.ts
Labels: Component: Web

#1517 API: Up version numbers
  web/packages/api/package.json
  web/packages/base-types/package.json
  web/packages/contract-types/package.json
  web/packages/contracts/package.json
  web/packages/registry/package.json
Labels: Component: Web
